@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
    background-color: pink;
    font-family: Amatic SC, sans serif;
  }

  h1 {
    font-size: 40px;
    
  }

  #masterContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: white;
border-radius: 25px;
box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
margin: 40px;
  }
  
  #container1 {
    left: 0;
    top: 0;
  }
  
  #container2 {
    left: 0;
    top: 0;
  }
  
  #buttonContainer {
  
      position: absolute;
      left: 50%; /* move the container to the middle of the parent container */
      transform: translateX(-50%); /* adjust the position to center the container */
      bottom: 280px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 120px 0px 120px;
      background-color: white;
      border-radius: 25px;
      width: 70%;
      box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
  -webkit-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
  -moz-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
    }
    

.btn{
  box-shadow:inset 0px 1px 0px 0px #edb9dd;
	background:linear-gradient(to bottom, #f2c2db 5%, #f5b1d5 100%);
	background-color:#f2c2db;
	border-radius:6px;
	border:1px solid #ba58a0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}

.btn:hover{
  background:linear-gradient(to bottom, #f5b1d5 5%, #f2c2db 100%);
	background-color:#f5b1d5;
}

.btn:active{
  position:relative;
	top:1px;
}
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

  html {
    font-size: 20px;
    background-color: pink;
    font-family: Amatic SC, sans serif;
  }

  h1 {
    font-size: 50px;
    
  }

  #masterContainer {
    text-align: center;
    position: fixed;
    top: 80px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
    -webkit-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
    padding: 50px;
    margin: 50px;
  }

  #container1 {
    left: 20px;
    top: 120px;
  }

  #container2 {
    left: 20px;
    top: 190px;
  }
}

/* CSS code for desktops */
@media only screen and (min-width: 1024px) {

  html {
    font-family: Amatic SC, sans serif;
}

h1 {
    font-size: 60px;

}


#container1{
    position: fixed;
    left: 370px;
    top: 120px;
    
}

#container2 {
    position: fixed;
    left: 370px;
top: 190px;
}

#masterContainer {
 position: fixed;
    left: 330px;
    top: 60px;
    padding: 150px 290px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
}

body {
    background-color: pink;
}

#buttonContainer {
  
  position: absolute;
  left: 40%; /* move the container to the middle of the parent container */
  transform: translateX(-50%); /* adjust the position to center the container */
  top: 53%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px 100px;
  background-color: white;
  border-radius: 25px;
  width: 40%;
  box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.79);
}



.btn{
  box-shadow:inset 0px 1px 0px 0px #edb9dd;
	background:linear-gradient(to bottom, #f2c2db 5%, #f5b1d5 100%);
	background-color:#f2c2db;
	border-radius:6px;
	border:1px solid #ba58a0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:24px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}

.btn:hover{
  background:linear-gradient(to bottom, #f5b1d5 5%, #f2c2db 100%);
	background-color:#f5b1d5;
}

.btn:active{
  position:relative;
	top:1px;
}

}

